extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
  div(class='breadcrumb')
    li= title
  div#customer-add-form-wrapper
    button(type='button', class='btn btn-primary', id='add-customer-btn') Add Customer
    div#add-modal.modal.fade(tabindex='-1', role='dialog')
      div.modal-dialog(role='document')
        div.modal-content
          div.modal-header
            h5.modal-title Add Customer
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          div.modal-body
            form(id='customer-add-form' name='customer-add-form' class='form-inline' action='')
              div.form-group
                div.col-md-3
                  label(for='name') Name
                div.col-md-9
                  input#name.form-control(name='name', value='')
              div.form-group
                div.col-md-3
                  label(for='budget') Budget
                div.col-md-9
                  input#budget.form-control(name='budget', value='')
          div.modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='submit', form='customer-add-form') Add Customer

  div.list-wrapper
    table(id='customer-list')
  
  div#edit-modal-backdrop.modal-backdrop

  div(id='edit-modal' class='modal fade' tabindex='-1' role='dialog')
    div(class='modal-dialog')
      div(class='modal-content')
        div(class='modal-header')
          button(type='button' class='close' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
          h4(class='modal-title') Edit Customer
        div(class='modal-body')
          form(id='customer-edit-form' name='customer-edit-form' class='form-inline' action='')
            input(type='hidden' id='edit-id' name='id')
            div(class='form-group')
              label(for='edit-name') Name
              input(id='edit-name' name='name' value='' class='form-control')
            div(class='form-group')
              label(for='edit-budget') Budget
              input(id='edit-budget' name='budget' value='' class='form-control')
        div(class='modal-footer')
          button(type='button' class='btn btn-default' data-dismiss='modal') Close
          button(type='submit' form='customer-edit-form' class='btn btn-primary') Update

block append scripts
  script(src='/static/js/models/customer.js')
  script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/static/js/views/customer.js')