extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
  div(class='breadcrumb')
    li= title
  div#customer-add-form-wrapper
    button(type='button', class='btn btn-primary', id='add-running_project-btn') Add Project
    div#add-modal.modal.fade(tabindex='-1', role='dialog')
      div.modal-dialog(role='document')
        div.modal-content
          div.modal-header
            h5.modal-title Add Running Project
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          div.modal-body
            form(id='running_project-add-form' name='running_project-add-form' class='form-inline' action='')
              div.form-group
                div.col-md-3
                  label(for='project-select') Project
                div.col-md-12
                  select#project-select.form-control(name='project', value='')
              div.form-group
                div.col-md-3
                  label(for='executor-select') Executor
                div.col-md-12
                  select#executor-select.form-control(name='executor', value='')
              div.form-group
                div.col-md-3
                  label(for='start-time') Start Time
                div.col-md-12
                  input#start-time.form-control(type='datetime-local', name='start_time', value='')
              div.form-group
                div.col-md-3
                  label(for='end-time') End Time
                div.col-md-12
                  input#end-time.form-control(type='datetime-local', name='end_time', value='')
          div.modal-footer
            button.btn.btn-secondary(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='submit', form='running_project-add-form') Add Project

  div.list-wrapper
    table(id='running_project-list')
  div#edit-modal-backdrop.modal-backdrop
block append scripts
  script(src='/static/js/models/running_project.js')
  script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/static/js/views/running_project.js')
  script(src='/static/js/models/project.js')
  script(src='/static/js/models/executor.js')